<% include common/header.ejs %>
<li >
                   <a href="index.html">home</a></li>
               <li class="current"><a href="all-recipes.html">all recipes</a></li>
               <li><a href="my-tastes.html">my tastes</a></li>
             
               
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>        
<!--=====================
          Content
======================-->
<section class="content gallery pad1">
  <div class="container">
    <div class="row" id="recipe_list">
        
   <!--    
      <div class="grid_4">
        <div class="gall_block">
          <div class="maxheight">
            <a href="assets/images/big3.jpg" class="gall_item"><img src="assets/images/page2_img2.jpg" alt=""></a>
            <div class="gall_bot">
            <div class="text1"><a href="#">Divamus at magna non nunce </a></div>
            Kehoncus. Aliquam nibh antegestas id ictum a, commodo. Praesenterto faucibus maleada faucibusnec laeet metus id laoreet 
            <br>
            <a href="#" class="btn">more</a></div>
          </div>
        </div>
      </div>
      -->
        
        
        <div class="popup recipe_info">
	<a class="close" href="#">Close</a>
	<h2>Галерея</h2>
	<div class="img_wrap">
		hello				
	</div>
        </div>
        
        
        
      <div class="clear sep__1"></div>
    
    </div>
  </div>
</section>


<% include common/footer.ejs %>