<% include common/header.ejs %>

<li class="current">
                   <a href="index.html">home</a></li>
               <li><a href="all-recipes.html">all recipes</a></li>
               <li><a href="my-tastes.html">my tastes</a></li>
             
               
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>        

<!--=====================
          Content
======================-->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_4">
        <div class="banner">
		  <div class="gall_block">
          <img src="assets/images/page1_img1.jpg" alt="">
          <div class="bann_capt ">
            <div class="maxheight">
              <img src="assets/images/icon1.png" alt="">
              <div class="bann_title">Breakfast</div>
              <a href="#" id="random-breakfast">random</a>
            </div>
          </div>
        </div>
	   </div>
      </div>
      <div class="grid_4">
        <div class="banner">
		  <div class="gall_block">
          <div class="bann_capt  bn__1">
            <div class="maxheight">
              <img src="assets/images/icon2.png" alt="">
              <div class="bann_title">Lunch</div>
              <a href="#" id="random-lunch">random</a>
            </div>
          </div>
          <img src="assets/images/page1_img2.jpg" alt="">
        </div>
		</div>
      </div>
      <div class="grid_4">
        <div class="banner ">
		  <div class="gall_block">
          <img src="assets/images/page1_img3.jpg" alt="">
          <div class="bann_capt  bn__2">
            <div class="maxheight">
              <img src="assets/images/icon3.png" alt="">
              <div class="bann_title">Diner</div>
              <a href="#" id="random-diner">random</a>
            </div>
          </div>
		  </div>
        </div>
      </div>
        
<!--<button id="myBtn">Open Modal</button>-->
<div id="myModal" class="modal" id="modalBlock">
<!--    сюда наддо вставлять модальное окно в jsч    -->
    
       <% include common/modalRecipe.ejs %> 
        </div>

        
      <div class="grid_4">
        <div class="block1">
          <div class="count">1</div>
         Choose what you want: breakfast, lunch or diner. And we help you with recipe! :)
          <br>
          
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">2</div>
         Edit your tastes and you will recieve the recipe of the dish you should like.
          <br>
          <a href="my-tastes.html" class="btn">go to my tastes</a>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">3</div>
          Click the random button and see some kind of magic! Don't forget to share it with your friends!
          <br>
          
        </div>        
      </div>
      
    </div>
  </div>
</section>

<% include common/footer.ejs %>