<% include common/header.ejs %>

<li >
                   <a href="index.html">home</a></li>
               <li ><a href="all-recipes.html">all recipes</a></li>
               <li class="current"><a href="my-tastes.html">my tastes</a></li>
             
               
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>  
<!--=====================
          Content
======================-->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_8">
          <br>
        <h2>Tastes</h2>
        <div id="tastes">
        <div class="extra_wrapper">
            <div class="text1 tx__1">Meat</div>
            <div class="check"><input type="checkbox" id="meat" value="1">yes</div>
          
          </div>
          
          <div class="extra_wrapper">
            <div class="text1 tx__1">Dairy</div>
               <div class="check"><input  type="checkbox" id="milk" value="1">milk</div>
               <div class="check"><input  type="checkbox" id="cheese" value="1">cheese</div>
               <div class="check"><input  type="checkbox" id="butter" value="1">butter</div>
               <div class="check"><input  type="checkbox" id="eggs" value="1">eggs</div>
          
          </div>
          
          <div class="extra_wrapper">
          <div class="text1 tx__1">Bakery</div>
             <div style="display: inline-block">
               <div class="check"><input  type="checkbox" id="flour" value="1">flour</div>
               <div class="check"><input  type="checkbox" id="sugar" value="1">sugar</div> 
              <div class="check"><input  type="checkbox" id="salt" value="1">salt</div>
               <div class="check"><input  type="checkbox" id="soda" value="1">soda</div></div>
              <div style="display: inline-block; margin-left: 50px">
               <div class="check"><input  type="checkbox" id="cornstarch" value="1">cornstarch</div> 
              <div class="check"><input  type="checkbox" id="cinnamon" value="1">cinnamon</div>
               <div class="check"><input  type="checkbox" id="oats" value="1">oats</div> 
              <div class="check"><input  type="checkbox" id="nuts" value="1">nuts</div></div>
             
         
          </div>
        </div>
          
<!--
          <div style="width: 100px; height: 50px">
          <div class="navigation">
            <nav>
              <ul class="sf-menu">
               <li><a id="clear_tastes"> clear my tastes</a></li>
             </ul>
              </nav>  </div></div>  
          
-->
          <br>
           <br>
          <br>
           <br>
           <br>
           <br>
           <br>
        <div class="clear"></div>
      </div>
        
      <div class="grid_4">
          <br>
        <h2>Hello there!</h2>
        <div class="form_title color1">
            <br>
        This page is especially for you. <br>You can save your tastes and get the recipe which depends on it so you never get the recipe which you dont like to eat.<br><br> Good luck :)</div>
      </div>
    </div>
  </div>
</section>


<% include common/footer.ejs %>