<% include common/header.ejs %>

<li >
                   <a href="index.html">home</a></li>
               <li ><a href="all-recipes.html">all recipes</a></li>
               <li class="current"><a href="my-tastes.html">my tastes</a></li>
             
               
             </ul>
            </nav>        
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</header>  
<!--=====================
          Content
======================-->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_8">
        <h2>Tastes</h2>
        
        <div class="extra_wrapper">
            <div class="text1 tx__1">Meat</div>
            <div class="check"><input type="checkbox" name="meatYes" value="yes">yes</div>
            <div class="check"><input type="checkbox" name="meatNo" value="no">no</div>
          <br>
          <br> 
          </div>
          
          <div class="extra_wrapper">
            <div class="text1 tx__1">Dairy</div>
               <div class="check"><input  type="checkbox" name="milk" value="yes">milk</div>
               <div class="check"><input  type="checkbox" name="cheese" value="yes">cheese</div>
               <div class="check"><input  type="checkbox" name="butter" value="yes">butter</div>
               <div class="check"><input  type="checkbox" name="eggs" value="yes">eggs</div>
          <br>
          <br>
          </div>
          
          <div class="extra_wrapper">
          <div class="text1 tx__1">Bakery</div>
             <div style="display: inline-block">
               <div class="check"><input  type="checkbox" name="flour" value="yes">flour</div>
               <div class="check"><input  type="checkbox" name="sugar" value="yes">sugar</div> 
              <div class="check"><input  type="checkbox" name="salt" value="yes">salt</div>
               <div class="check"><input  type="checkbox" name="soda" value="yes">soda</div></div>
              <div style="display: inline-block; margin-left: 50px">
               <div class="check"><input  type="checkbox" name="cornstarch" value="yes">cornstarch</div> 
              <div class="check"><input  type="checkbox" name="cinnamon" value="yes">cinnamon</div>
               <div class="check"><input  type="checkbox" name="oats" value="yes">oats</div> 
              <div class="check"><input  type="checkbox" name="nuts" value="yes">nuts</div></div>
             
          <br>
          </div>
          
        <div class="clear"></div>
      </div>
      <div class="grid_4">
        <h2>Hello there!</h2>
        <div class="form_title color1">
        This page is especially for you. <br>You can save your tastes and get the recipe which depends on it so you never get the recipe which you dont like to eat.<br><br> Good luck :)</div>
      </div>
    </div>
  </div>
</section>


<% include common/footer.ejs %>