<!-- The Modal -->
<!--<div id="myModal" class="modal">-->

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      
      <div class="recipeInfoTop">
          <img class="recipeInfoImage" alt=""   > 
   <div class="nameIngr">
          <div class="recipeName" > </div> 
          <div class="recipeInfoIngredients"></div>
      </div></div>
        
      <div class="recipeInfoCook"> </div>

  </div>

<!--</div>-->