<div class="grid_4">
        <div class="gall_block">
          <div class="maxheight">
            <a class="gall_item"><img class="gall_item" src="<%= recipe.imageURL %>"></a>
            <div class="gall_bot">
            <div class="text1"><%= recipe.name %></div> 
            <a href="#" class="btn">more</a></div>
          </div>
        </div>
      </div>